<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
</head>
<body>
    <h1>CSV Data</h1>
    <table border="1">
        <thead>
            <tr>
                {% for header in data.0 %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data|slice:1 %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
